---
import TitleBadge from "@/components/TitleBadge.astro";
import { getListPage } from "@/lib/contentParser.astro";
import { markdownify } from "@/lib/utils/textConverter";
import Accordion from "@/shortcodes/Accordion";

const faqs = await getListPage("faqsSection", "faqs");
if (!faqs.data.enable) {
  return null;
}

const { title, description, button, badge, list } = faqs.data;
---

<section data-aos="fade-up-sm" data-aos-delay={"150"} class="section pt-0">
  <div class="container">
    <div class="bg-dark/2 rounded-4xl p-6 py-12 md:p-12">
      {/* section title   */}
      <div class="row justify-between items-center max-lg:text-center">
        <div class="lg:col-5">
          <TitleBadge
            icon={badge.icon}
            label={badge.label}
            bg_color={badge.bg_color}
            isCenter={false}
          />
          <h2 class="py-4" set:html={markdownify(title || "")} />
        </div>

        <div class="lg:col-5">
          <p class="text-balance" set:html={markdownify(description || "")} />

          {
            button.enable && (
              <a href={button.link} class="btn btn-primary mt-4">
                {button.label}
              </a>
            )
          }
        </div>
      </div>

      {/* FAQ section  */}
      <div class="pt-10">
        {
          list?.map((item, index) => (
            <div
              data-aos="fade-up-sm"
              data-aos-delay={index * 100 + 50}
              class="mb-1"
            >
              <Accordion client:load title={item.question} id={index}>
                <div set:html={markdownify(item.answer)} />
              </Accordion>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>

<script is:inline>
  document.addEventListener("astro:page-load", () => {
    const accordions = document.querySelectorAll("[data-accordion-id]");

    accordions.forEach((el, index) => {
      const btn = el.querySelector("button");
      btn.addEventListener("click", () => {
        accordions.forEach((otherEl) => {
          const otherId = Number(otherEl.getAttribute("data-accordion-id"));
          if (otherId !== index) {
            window.dispatchEvent(new CustomEvent(`accordion:close-${otherId}`));
          }
        });
      });
    });
  });
</script>
