---
import menu from "@/config/menu.json";
import config from "@/config/config.json";
import Logo from "@/components/Logo.astro";

export interface ChildNavigationLink {
  name: string;
  url: string;
}

export interface NavigationLink {
  name: string;
  url: string;
  hasChildren?: boolean;
  children?: ChildNavigationLink[];
}
---

<header class="header z-30">
  <nav class="navbar container px-4">
    <!-- logo -->
    <div class="order-0">
      <Logo />
    </div>
    <div class="flex items-center gap-2">
      <!-- navbar toggler -->
      <input
        id="nav-toggle"
        type="checkbox"
        class="hidden"
        title="nav-toggle"
      />
      <label
        for="nav-toggle"
        class="cursor-pointer flex items-center lg:hidden"
      >
        <div id="show-button">
          <title class="hidden">Menu Open</title>
          <div class="ham-btn"><span></span></div>
        </div>
      </label>
      <!-- /navbar toggler -->
      <ul
        id="nav-menu"
        class="navbar-nav hidden absolute left-0 right-0 lg:static lg:flex items-center lg:w-auto lg:space-x-3 lg:pb-0"
      >
        {
          menu.main.map((item) => (
            <li
              id={item.hasChildren ? "all-pages" : null}
              class={`nav-item ${item.hasChildren ? "nav-dropdown group relative" : ""}`}
            >
              {item.hasChildren ? (
                <span class="nav-link inline-flex items-center cursor-pointer">
                  {item.name}
                  <svg
                    class="dropdown-arrow h-4 w-4 fill-current group-hover:-rotate-180 ml-2 transition-transform duration-500"
                    viewBox="0 0 20 20"
                  >
                    <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                  </svg>
                </span>
              ) : (
                <a
                  href={item.url}
                  aria-label={item.name}
                  class="nav-link inline-flex items-center cursor-pointer"
                >
                  {item.name}
                </a>
              )}
              {item.hasChildren && (
                <ul
                  class="grid sm:grid-cols-2 md:grid-cols-3 lg:mt-12 gap-x-4 border border-border bg-body p-8 lg:pr-0 mb-2 lg:mb-0
         lg:duration-200 lg:absolute lg:left-0 lg:invisible lg:group-hover:visible
         lg:opacity-0 lg:group-hover:opacity-100 lg:scale-95 lg:group-hover:scale-100
         lg:group-hover:grid max-w-fit lg:min-w-max nav-dropdown-list"
                  id={item.hasChildren ? "all-pages-dropdown" : null}
                >
                  {item.children.map((child: any) => (
                    <li class="nav-dropdown-item">
                      <a
                        href={child.url}
                        class="nav-dropdown-link"
                        aria-label={`menu: ${child.name}`}
                      >
                        {child.name}
                      </a>
                    </li>
                  ))}
                </ul>
              )}
            </li>
          ))
        }
        {
          config.navigation_button && config.navigation_button.enable && (
            <li class="lg:hidden mt-4 flex justify-center">
              <a
                class="btn py-2 px-4  btn-primary"
                aria-label={config.navigation_button.label}
                href={config.navigation_button.link}
                target={
                  config.navigation_button.link.startsWith("http")
                    ? "_blank"
                    : "_self"
                }
              >
                {config.navigation_button.label}
              </a>
            </li>
          )
        }
      </ul>
      <div class="ml-auto flex items-center lg:ml-2">
        {
          config.navigation_button && config.navigation_button.enable && (
            <a
              class="btn btn-primary hidden lg:inline-block"
              aria-label={config.navigation_button.label}
              href={config.navigation_button.link}
              target={
                config.navigation_button.link.startsWith("http")
                  ? "_blank"
                  : "_self"
              }
            >
              {config.navigation_button.label}
            </a>
          )
        }
      </div>
    </div>
  </nav>
</header>

<script>
  document.addEventListener("astro:page-load", () => {
    const allPages = document.getElementById("all-pages") as HTMLElement | null;
    const hamToggle = document.getElementById(
      "nav-toggle"
    ) as HTMLInputElement | null;
    const hamBtn = document.querySelector(".ham-btn") as HTMLElement | null;

    if (hamToggle && hamBtn) {
      hamToggle.addEventListener("change", () => {
        hamBtn.classList.toggle("active");
      });
    }

    if (allPages) {
      allPages.addEventListener("click", (e: MouseEvent) => {
        // Prevent dropdown toggle on large screens
        if (window.innerWidth >= 1024) return;

        const parent = e.currentTarget as HTMLElement;
        const menu = document.getElementById(
          "all-pages-dropdown"
        ) as HTMLElement | null;
        const arrow = parent.querySelector(
          ".dropdown-arrow"
        ) as HTMLElement | null;

        menu?.classList.toggle("hidden");

        arrow?.classList.toggle("rotate-180");
      });
    }
  });
</script>
