---
import { markdownify } from "@/lib/utils/textConverter";
import type { CollectionEntry } from "astro:content";
import Counter from "../functional-component/Counter";

type Props = {
  numbers_banner: CollectionEntry<"about">["data"]["numbers_banner"];
  bgColor?: string;
};
const { numbers_banner, bgColor } = Astro.props;
---

<div
  data-aos="fade-up-sm"
  data-aos-delay="250"
  class={`mt-14 ${bgColor} rounded-4xl p-16 ${numbers_banner.metrics.length < 2 ? "text-center" : "grid justify-start text-left md:grid-cols-2 lg:grid-cols-4"} gap-6 text-wrap break-words relative overflow-hidden`}
>
  {/* Circle Background */}
  <div
    class="absolute top-[70%] lg:top-[50%] left-1/2 -translate-x-1/2 z-0 rounded-full bg-body/30"
    style="width: 210vw; height: 200vw;"
  >
  </div>
  {
    numbers_banner.metrics?.map((metric) => (
      <div
        class={`relative z-10 ${numbers_banner.metrics.length < 2 && "text-center"}`}
      >
        <p
          class={`${numbers_banner.metrics.length < 2 ? "h1" : "h2 lg:h3"} font-bold text-text-dark mb-2 break-words overflow-hidden`}
        >
          <Counter
            client:only="react"
            count={metric.counter.count}
            suffix={metric.counter.count_suffix}
            prefix={metric.counter.count_prefix}
            duration={metric.counter.count_duration}
          />
        </p>
        <h3
          class="text-balance font-medium text-sm text-text-dark/80"
          set:html={markdownify(metric.title || "")}
        />
      </div>
    ))
  }
</div>
