---
import Pagination from "@/components/Pagination.astro";
import ProgramCard from "@/components/ProgramCard.astro";
import TitleBadge from "@/components/TitleBadge.astro";
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import { getListPage, getSinglePage } from "@/lib/contentParser.astro";
import { sortByDate } from "@/lib/utils/sortFunctions";
import { markdownify } from "@/lib/utils/textConverter";
import CallToActionSecondary from "@/partials/CallToActionSecondary.astro";
import FAQs from "@/partials/FAQs.astro";
import NumbersBanner from "@/partials/NumbersBanner.astro";

const FOLDER = "programs";

const { slug } = Astro.params;
const programsIndex = await getListPage(
  FOLDER,
  "-index"
);
if(programsIndex.data.draft){
  return Astro.redirect("/404");
}
const { all_programs, numbers_banner } = programsIndex.data;

const programs = await getSinglePage(FOLDER);
const sortedPrograms = sortByDate(programs);
const currentPage = slug && !isNaN(Number(slug)) ? Number(slug) : 1;
const indexOfLastPost = currentPage * config.settings.pagination;
const indexOfFirstPost = indexOfLastPost - config.settings.pagination;
const currentPrograms = sortedPrograms.slice(indexOfFirstPost, indexOfLastPost);
const totalPages = Math.ceil(programs.length / config.settings.pagination);

export async function getStaticPaths() {
  const FOLDER = "programs";
  const posts = await getSinglePage(FOLDER);
  const totalPages = Math.ceil(posts.length / config.settings.pagination);
  const paths = [];

  for (let i = 1; i < totalPages; i++) {
    paths.push({
      params: {
        slug: (i + 1).toString(),
      },
    });
  }
  return paths;
}
---

<Base {...programsIndex.data}>
  <section class="section-lg">
    <div class="container">
      {/* Section Title */}
      <div
        data-aos="fade-up-sm"
        data-aos-delay="150"
        class="row justify-center"
      >
        <div class="col-10 lg:col-7">
          {
            all_programs?.badge?.enable && (
              <TitleBadge
                icon={all_programs?.badge?.icon}
                label={all_programs?.badge?.label}
                bg_color={all_programs?.badge?.bg_color}
              />
            )
          }
          <h2
            class="py-4 text-center"
            set:html={markdownify(all_programs?.title || "")}
          />
          <p
            class="text-center text-balance"
            set:html={markdownify(all_programs?.description || "")}
          />
        </div>
      </div>

      <div class="pt-14">
        <div class="row g-4 max-md:justify-center">
          {
            currentPrograms?.map((program, i) => {
              const aosDelay = 100 * (i % 3);
              return <ProgramCard data={program} aosDelay={aosDelay} />;
            })
          }
          <Pagination
            section={FOLDER}
            currentPage={currentPage}
            totalPages={totalPages}
          />
        </div>
      </div>
    </div>
  </section>

  {
    numbers_banner && numbers_banner.enable && (
      <section class="section pt-0">
        <div class="container">
          {/* Section Title */}
          <div
            data-aos="fade-up-sm"
            data-aos-delay="150"
            class="row justify-center"
          >
            <div class="col-10 lg:col-7">
              {numbers_banner?.badge?.enable && (
                <TitleBadge
                  icon={numbers_banner?.badge?.icon}
                  label={numbers_banner?.badge?.label}
                  bg_color={numbers_banner?.badge?.bg_color}
                />
              )}
              <h2
                class="py-4 text-center"
                set:html={markdownify(numbers_banner?.title || "")}
              />
              <p
                class="text-center text-balance"
                set:html={markdownify(numbers_banner?.description || "")}
              />
            </div>
          </div>

          <NumbersBanner
            numbers_banner={numbers_banner}
            bgColor="bg-secondary"
          />
        </div>
      </section>
    )
  }

  <FAQs />
  <CallToActionSecondary isNoSectionTop={true} />
</Base>
