---
import ReviewSlider from "@/components/ReviewSlider.astro";
import SuccessNumbers from "@/components/SuccessNumbers.astro";
import TitleBadge from "@/components/TitleBadge.astro";
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import { getListPage } from "@/lib/contentParser.astro";
import { markdownify } from "@/lib/utils/textConverter";
import CallToActionPrimary from "@/partials/CallToActionPrimary.astro";
import FeaturesSection from "@/partials/FeaturesSection.astro";
import ImpactResultsSection from "@/partials/ImpactResultsSection.astro";

const donationIndex = await getListPage("donation", "-index");
if (donationIndex.data.draft) {
  return Astro.redirect("/404");
}
const { contact_form_action }: { contact_form_action: string } = config.params;
const { badge, title, description, packages } = donationIndex.data;

const reviewsSection = await getListPage("reviewsSection", "reviews-section");

const inlineScript = `
  function toggleCustomAmount(select) {
    const customInput = document.getElementById("custom-amount");
    if (select.value === "custom") {
      customInput.style.display = "block";
      customInput.required = true;
    } else {
      customInput.style.display = "none";
      customInput.required = false;
      customInput.value = "";
    }
  }
`;
---

<Base {...donationIndex.data}>
  <section class="section-lg">
    <div class="container">
      {/* section title   */}
      <div
        data-aos="fade-up-sm"
        data-aos-delay="200"
        class="row g-4 justify-between items-start"
      >
        <div class="lg:col-6 max-lg:text-center">
          <TitleBadge
            icon={badge.icon}
            label={badge.label}
            bg_color={badge.bg_color}
            isCenter={false}
          />
          <h1 class="pt-4 pb-10" set:html={markdownify(title || "")} />

          {
            reviewsSection.data.enable && (
              <ReviewSlider data={reviewsSection} isDonationPage />
            )
          }
        </div>

        <div data-aos="fade-up-sm" data-aos-delay="200" class="lg:col-6">
          <div class="bg-dark/2 p-10 rounded-2xl">
            <h6 class="h4 mb-2 font-semibold">Donation Form</h6>
            <p>{description}</p>

            <form class="mt-8" action={contact_form_action} method="POST">
              <!-- Name -->
              <div class="mb-6">
                <label for="name" class="form-label">
                  Your Full Name <span>*</span>
                </label>
                <input
                  id="name"
                  name="name"
                  class="form-input"
                  placeholder="John Doe"
                  type="text"
                  required
                />
              </div>

              <!-- Email -->
              <div class="mb-6">
                <label for="email" class="form-label">
                  Your Email <span>*</span>
                </label>
                <input
                  id="email"
                  name="email"
                  class="form-input"
                  placeholder="john.doe@email.com"
                  type="email"
                  required
                />
              </div>

              <!-- Donation Amount -->
              <div class="mb-6">
                <label class="form-label" for="donation">
                  Choose your donation amount <span>*</span>
                </label>

                <select
                  id="donation"
                  name="donation"
                  class="form-input cursor-pointer text-2xl"
                  required
                  onchange="toggleCustomAmount(this)"
                >
                  <option value="" disabled selected>Select an amount</option>
                  <option value="10">$10</option>
                  <option value="25">$25</option>
                  <option value="50">$50</option>
                  <option value="100">$100</option>
                  <option value="custom">Custom Amount</option>
                </select>

                <!-- Custom amount input (hidden by default) -->
                <input
                  id="custom-amount"
                  name="custom_amount"
                  class="form-input mt-4 text-2xl"
                  type="number"
                  min="1"
                  placeholder="Enter custom amount"
                  style="display: none;"
                />
              </div>

              <button type="submit" class="btn btn-primary w-full text-center">
                Donate Now
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  {
    packages.enable && (
      <section class="section-lg pt-0">
        <div class="container">
          {/* Section Title */}
          <div
            data-aos="fade-up-sm"
            data-aos-delay="100"
            class="row justify-center"
          >
            <div class="col-10 lg:col-6">
              {badge.enable && (
                <TitleBadge
                  icon={packages.badge.icon}
                  label={packages.badge.label}
                  bg_color={packages.badge.bg_color}
                />
              )}
              <h2
                class="py-4 text-center"
                set:html={markdownify(packages.title || "")}
              />
              <p
                class="text-center text-balance"
                set:html={markdownify(packages.description || "")}
              />
            </div>
          </div>

          <div class="pt-14 metrics-cards">
            {packages?.plans &&
              packages?.plans.length > 0 &&
              packages?.plans.map((plan, i) => (
                <div
                  data-aos="fade-up-sm"
                  data-aos-delay={i * 100}
                  class="card"
                >
                  <h4
                    class="mb-4 text-white font-semibold"
                    set:html={markdownify(plan.title || "")}
                  />
                  <p set:html={markdownify(plan.description || "")} />
                  <p
                    set:html={markdownify(plan.amount || "")}
                    class={`h1 mt-8 font-semibold`}
                  />

                  <p
                    class="-mt-2 mb-12"
                    set:html={markdownify(plan.billed_per || "")}
                  />

                  {plan.button.enable && (
                    <a href={plan.button.link} class="btn btn-outline">
                      {plan.button.label}
                    </a>
                  )}
                </div>
              ))}
          </div>
        </div>
      </section>
    )
  }

  <FeaturesSection />
  <ImpactResultsSection isNoSectionTop={true} />
  <CallToActionPrimary />
  <SuccessNumbers />
  <script is:inline set:html={inlineScript} />
</Base>
